.btn,input{
	font-size:12px !important;
	font-faminy:"MicrosoftYaHei" !important;
}
ul.page-sidebar-menu > li.open > a,ul.page-sidebar-menu > li.open > a i {
	background:#e02222 !important;
	color:#fff;
	border-top-color:transparent !important;
} 
 ul.page-sidebar-menu > li > a:hover, ul.page-sidebar-menu > li:hover > a {
 	background:#575757 none repeat scroll 0% 0%;
	color:#fff;
	border-top-color:transparent !important;
 }
 .nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 11px !important;
  font-weight: 300;
  top: 8px;
  right: 24px;
  text-align: center;
  height: 14px;
  background-color: #e02222;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
}
select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
}
/* .form-horizontal .controls {
	margin-left:0;
} */

.statu {
	color:#d8d8d8;
}
.statu span{
	width:52px;
	height:34px;
	line-height:34px;
	text-align:center;
	background-color:#d8d8d8;
	border:1px solid #d8d8d8;
	border-radius:50% !important;
	display:inline-block;
	color:#fff;
}
.statu .blue {
	background-color:#27a9e3;
	border:1px solid #27a9e3;
}
.portlet.box .portlet-body {
	/* height:237px; */
}
.pad .thumbnail {
	max-width:455px;
}