<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="inspectInfo">
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet">
                <div class="portlet-title bottom-line" style="border-bottom: #f5f5f5 1px solid;">
                    <div class="caption"><i class="icon-edit"></i>巡查详情</div>
                </div>
                <div class="portlet-body">
                    <form action="#" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">巡查日期</label>
                            <div class="controls">
                                <span class="pad">2015-12-13 16:02</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">巡查单位</label>
                            <div class="controls">
                                <span class="pad">漓江花园如意苑</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">巡查人</label>
                            <div class="controls">
                                <span class="pad">王丽</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">联系电话</label>
                            <div class="controls">
                                <span class="pad">15767834587</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">巡查详情</label>
                            <div class="control-group">
                                <div class="controls">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width:8px;">
                                            </th>
                                            <th>巡查设备</th>
                                            <th>备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <input type="checkbox" class="group-checkable" checked="checked"  disabled=""/>
                                                </td>
                                                <td>开关电源</td>
                                                <td>电源插座接触效果不是很好，需要调整</td>
                                            </tr>

                                            <tr class="odd gradeX">
                                                <td>
                                                    <input type="checkbox" class="group-checkable" checked="checked"  disabled=""/>
                                                </td>
                                                <td>开关电源</td>
                                                <td>电源插座接触效果不是很好，需要调整</td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <input type="checkbox" class="group-checkable" checked="checked"  disabled=""/>
                                                </td>
                                                <td>开关电源</td>
                                                <td>电源插座接触效果不是很好，需要调整</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>