<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paopao.hzgzf.modules.pay.dao.GzfPaymethodBalancetypeMapper" >
  <resultMap id="BaseResultMap" type="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype" >
  	<id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pay_method" property="payMethod" jdbcType="CHAR" />
    <result column="channel_type" property="channelType" jdbcType="VARCHAR" />
    <result column="balance_type_id" property="balanceTypeId" jdbcType="INTEGER" />
    <result column="state" property="delFlag" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pay_method, channel_type, balance_type_id, state, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gzf_paymethod_balancetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gzf_paymethod_balancetype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gzf_paymethod_balancetype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetypeExample" >
    delete from gzf_paymethod_balancetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype" >
    insert into gzf_paymethod_balancetype (id, pay_method, channel_type, balance_type_id, 
      state, remarks)
    values (#{id,jdbcType=VARCHAR},#{payMethod,jdbcType=CHAR}, #{channelType,jdbcType=VARCHAR}, #{balanceTypeId,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype" >
    insert into gzf_paymethod_balancetype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payMethod != null" >
        pay_method,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="balanceTypeId != null" >
        balance_type_id,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="payMethod != null" >
        #{payMethod,jdbcType=CHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="balanceTypeId != null" >
        #{balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetypeExample" resultType="java.lang.Integer" >
    select count(*) from gzf_paymethod_balancetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gzf_paymethod_balancetype
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.payMethod != null" >
        pay_method = #{record.payMethod,jdbcType=CHAR},
      </if>
      <if test="record.channelType != null" >
        channel_type = #{record.channelType,jdbcType=VARCHAR},
      </if>
      <if test="record.balanceTypeId != null" >
        balance_type_id = #{record.balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null" >
        state = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gzf_paymethod_balancetype
    set id = #{record.id,jdbcType=VARCHAR},
      pay_method = #{record.payMethod,jdbcType=CHAR},
      channel_type = #{record.channelType,jdbcType=VARCHAR},
      balance_type_id = #{record.balanceTypeId,jdbcType=INTEGER},
      state = #{record.delFlag,jdbcType=CHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype" >
    update gzf_paymethod_balancetype
    <set >
      <if test="payMethod != null" >
        pay_method = #{payMethod,jdbcType=CHAR},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="balanceTypeId != null" >
        balance_type_id = #{balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        state = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype" >
    update gzf_paymethod_balancetype
    set pay_method = #{payMethod,jdbcType=CHAR},
      channel_type = #{channelType,jdbcType=VARCHAR},
      balance_type_id = #{balanceTypeId,jdbcType=INTEGER},
      state = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <sql id="Where">
  	<where>
  		state = #{DEL_FLAG_NORMAL}
  		<if test="payMethod != null and payMethod !=''">
  			and pay_method = #{payMethod}
  		</if>
  		<if test="channelType != null and channelType !=''">
  			and channel_type = #{channelType}
  		</if>
  	</where>
  </sql>
  
  <select id="get" resultType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype">
		SELECT 
			<include refid="Base_Column_List" />
		FROM gzf_paymethod_balancetype a
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype">
		SELECT 
			<include refid="Base_Column_List" />
		FROM gzf_paymethod_balancetype a
		<include refid="Where"></include>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.pay_method DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.paopao.hzgzf.modules.pay.entity.GzfPaymethodBalancetype">
		SELECT 
			<include refid="Base_Column_List" />
		FROM gzf_paymethod_balancetype a
		<where>
			a.state = #{DEL_FLAG_NORMAL}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.pay_method DESC
			</otherwise>
		</choose>
	</select>
	
	<update id="delete">
		UPDATE gzf_paymethod_balancetype SET 
			state = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>